:root {
    --padding: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 20px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
}

h2 {
    position: absolute;
    top: 55px;
    left: 120px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    background-color: #536adb;
    color: #333;
    border: 1px solid rgb(0 0 0 /0.2);

}

img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 680px;
    padding: 15px;

}

main img {
    width: 175px;
    height: auto;
    float: right;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

p {
    padding: 0px;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}